body {
    background-image: url(https://wallpapercave.com/wp/wp4909787.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c9d2d0;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    font-size: 20px;
    position: absolute;
    top: 70%;
    background-color: #ffb9cb;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid #f198ae;
    box-shadow: 0px 0px 20px #e7879f;
}

a {
    font-family: "Nerko One", "Segoe UI", sans-serif;
    text-decoration: none;
    color: #643b3a;
}

p {
    font-family: "Nerko One", "Segoe UI", sans-serif;
    color: #643b3a;
    position: absolute;
    top: 82%;
    background-color: #ffb9cb;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid #f198ae;
}

button:hover {
    transform: scale(1.1);
    background-color: #f198ae; /* change background color on hover */
    box-shadow: 0px 0px 30px #e7879f; /* increase box shadow on hover */
    color: #fff; /* change text color on hover */
}

button:active {
    transform: scale(1.1);
    background-color: #e7879f; /* change background color on active */
    box-shadow: 0px 0px 20px #e7879f; /* decrease box shadow on active */
    color: #fff; /* change text color on active */
}